doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GDA Dance Academy
        block style

        style 
            include ../static/style.css

        //- linking css file using media query, to make website responsive.    
        link(href="../static/phone.css", rel="stylesheet" , media="screen and (max-width:656px)")    
        
    body 
        //- Header Navbar
        header
            div(id="navlogo")
                img(src="/static/logo.png", alt="not loaded", width="50px",height="30px")
                |GDA
            ul(id="navlist")  
                li 
                    a(href="/") Home
                li 
                    a(href="#mission") Services
                li 
                    a(href="#sponsors") About
                li 
                    a(href="/contact") Contact

        block content  

        //- Footer
        footer#footer 
            | Copyright © 2021 @Saryansh | All rights are reserved          




                
