extends base.pug

block content 
    section#home 
        div 
            | Welcome to Goyal's Dance Academy
        div 
            | Anybody Can Dance

    section#mission      
        h1 Our Mission
        div.missionContainer
            div.box 
                | Dance Perfection 
                div.boxCard
                    img(src="../static/servicesImg1.png")
                    |This is best dance academy of India.    
           
        
            div.box 
                | Dance Perfection 
                div.boxCard
                    img(src="../static/servicesImg1.png")
                    | adipisicing elit. Ipsam voluptatibus eveniet ex 
           
        
            div.box 
                | Dance Perfection 
                div.boxCard
                    img(src="../static/servicesImg1.png")
                    |This is best dance academy of India.    

    section#sponsors 
        h1 Our Sponsors 
        div#sponsorsContainer  
            img(src="../static/hplogo.png")               
            img(src="../static/applelogo.png")               
            img(src="../static/skypelogo.png")               
            img(src="../static/windowlogo.png")               
           
        
        