*{
    padding:0px;
    margin:0px;
}

/* Navbar/Header */
header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navlist li{
    margin: 6px 10px;
}



/* Home Section */
#home{
    font-size: 1rem;
}

/* Services section */
.missionContainer{
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}

/* Sponsors Section */
#sponsors{
    padding: 0px;
}

#sponsorsContainer{
    flex-wrap:wrap;
}

#sponsorsContainer img {
   margin:13px 25px; 
   
}

/* Contact section */
#contact form input{
    width : 80vw;
}

/* Footer */
#footer{
    font-size: 0.9em;
}